services:
  postgres:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=rust-db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - rust-db-network

volumes:
  postgres-data:

networks:
  rust-db-network:
    driver: bridge
